In [2]:
import pandas as pd
import numpy as np

In [30]:
import statsmodels.sandbox.regression.gmm as stats

In [12]:
autodata = pd.read_csv("autodata.csv")
autodata = autodata.rename(columns={"Firm ID (there is a different number for each firm)": "Firm ID"})

In [31]:
N = len(autodata)
shares = autodata['Quantity'] / sum(autodata['Quantity'])
prices = autodata['Price($1000) (list price)']
x = autodata[['Air Conditioning', 'Weight of Car', 'Horsepower']]

In [13]:
autodata

,Name,Air Conditioning,Price($1000) (list price),Weight of Car,Horsepower,Quantity,Firm ID
0,ACINTE,0,11950,2549,130,83599,3
1,ACLEGE,1,24760,3139,160,53666,3
2,ARSPDR,0,20950,2548,120,1549,20
3,AD80SE,1,18900,2612,108,4402,7
4,AD90SE,1,23990,2789,130,3380,7
...,...,...,...,...,...,...,...
126,VV740,1,21095,2954,114,46070,6
127,VV760G,1,33965,3303,144,8627,6
128,YGGVPL,0,4435,1870,67,6359,23
129,PS911C,1,58500,3031,247,3650,12
130,PS944,1,41900,2998,208,2348,12

In [14]:
autodata["Firm ID"].nunique()

20

In [28]:
Hmat = np.array([[autodata['Firm ID'][i]==autodata['Firm ID'][j] for i in range(N)] for j in range(N)], np.int32)

In [34]:

mod = stats.OLS(prices, np.column_stack((x, autodata['Quantity'])))
results = mod.fit()
print(results.summary())

                                    OLS Regression Results
==============================================================================================
Dep. Variable:     Price($1000) (list price)   R-squared (uncentered):                   0.904
Model:                                   OLS   Adj. R-squared (uncentered):              0.901
Method:                        Least Squares   F-statistic:                              299.0
Date:                       Sat, 04 Jun 2022   Prob (F-statistic):                    1.37e-63
Time:                               15:00:02   Log-Likelihood:                         -1342.7
No. Observations:                        131   AIC:                                      2693.
Df Residuals:                            127   BIC:                                      2705.
Df Model:                                  4
Covariance Type:                   nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1          6021.9479   1655.346      3.638      0.000    2746.317    9297.578
x2            -1.5896      1.107     -1.436      0.154      -3.781       0.601
x3           164.6692     23.583      6.982      0.000     118.002     211.336
x4            -0.0238      0.009     -2.741      0.007      -0.041      -0.007
==============================================================================
Omnibus:                       76.581   Durbin-Watson:                   1.319
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              393.740
Skew:                           2.055   Prob(JB):                     3.17e-86
Kurtosis:                      10.433   Cond. No.                     2.72e+05
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 2.72e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [37]:
mc = results.predict()

In [52]:
own = np.zeros([N,2])
for i in range(N):
    if i == 0:
        own[i] = [0, autodata['Firm ID'][i]==autodata['Firm ID'][i+1]]
    elif i == N-1:
        own[i] = [autodata['Firm ID'][i]==autodata['Firm ID'][i-1], 0]
    else:
        own[i] = [autodata['Firm ID'][i]==autodata['Firm ID'][i-1], autodata['Firm ID'][i]==autodata['Firm ID'][i+1]]

Y
130